---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { ViewTransitions } from "astro:transitions";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- <ViewTransitions /> -->
  </head>

  <body>
    <main class="pt-10 sm:pt-10 sm:max-w-3xl mx-auto grid gap-10">
      <Header />

      <section>
        <ul class="sm:gap-4 list-none pl-0 border-b border-gray-300">
          {
            posts
              .map((post) => {
                if (post.data.isPublished) {
                  return (
                    <li class="border-t border-gray-300">
                      <a
                        href={`/blog/${post.slug}/`}
                        transition:name={`img-${post.data.id}`}
                        class="no-underline py-4 sm:py-8 block"
                      >
                        <p class="text-xl">{post.data.title}</p>
                        <p class="text-sm text-gray-400">
                          {post.data.description}
                        </p>
                        <FormattedDate date={post.data.pubDate} />
                      </a>
                    </li>
                  );
                }
              })
              .reverse()
          }
        </ul>
      </section>

      <Footer />
    </main>
  </body>
</html>
