---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { ViewTransitions } from "astro:transitions";
import Sample from "./Sample";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<section>
  <ul class="grid gap-0 sm:gap-8 list-none pl-0 grid-cols-2 sm:grid-cols-3">
    {
      posts
        .map((post) => {
          if (post.data.isPublished) {
            return (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <div class="emoji-image rounded-lg grid grid-cols-subgrid w-full text-center bg-white shadow">
                    <div
                      class="text-[75px] text-center"
                      transition:name={`img-${post.data.id}`}
                    >
                      {post.data.emoji}
                    </div>

                    <div class="flex-1 pb-4">
                      <p class="font-bold">{post.data.title}</p>

                      <p class="date">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            );
          }
        })
        .reverse()
    }
  </ul>
</section>

<style>
  h1 {
    margin-top: 2em;
  }
  .title {
    margin: 0;
    padding: 0;
    color: rgb(var(--black));
    line-height: 1.5;
    font-weight: bold;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
  }
  .date {
    margin: 0;
    padding: 0;
    color: rgb(var(--gray));
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
  }

  img,
  figure {
    transition: all 0.3s ease-in-out;
  }
  a {
    text-decoration: none;
  }

  @media (max-width: 620px) {
    ul {
      gap: 3rem;
    }
    ul li {
      width: 100%;
      text-align: left;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
    }
    .title {
      padding-top: 0.5rem;
      font-size: 1.25rem;
    }
    .date {
      font-size: 0.875rem;
    }
  }
</style>
