---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { id, title, description, pubDate, updatedDate, heroImage, emoji } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 4rem;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100%);
        margin: auto;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        font-weight: bold;
        line-height: 1;
      }
      .title h1 {
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>

    <ViewTransitions />
  </head>

  <body>
    <main>
      <article>
        <div class="prose">
          <div class="title grid gap-2 py-6">
            <div class="hero-image">
              {
                heroImage ? (
                  <img
                    width={"100%"}
                    height={210}
                    src={heroImage}
                    alt=""
                    transition:name={`img-${id}`}
                  />
                ) : (
                  <div transition:name={`img-${id}`}>
                    <div class="w-full bg-gray-200 rounded-lg grid place-content-center h-[190px] sm:h-[360px]">
                      <div class="text-[75px] sm:text-[100px]">{emoji}</div>
                    </div>
                  </div>
                )
              }
            </div>
            <div class="date pt-6" transition:name={`date-${id}`}>
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class="pt-1" transition:name={`title-${id}`}>{title}</h1>
          </div>

          <div class="mx-auto">
            <slot />
          </div>

          <Footer />
        </div>
      </article>
    </main>

    <!-- <a href="/" class="sm:hidden">
      <div
        class="fixed bottom-5 w-12 h-12 shadow rounded-full bg-white grid place-content-center"
      >
        <div class="font-bold">＜</div>
      </div>
    </a> -->
  </body>
</html>
